@font-face {
    font-family: National-Condensed;
    src: url('../assets/fonts/National-2-Condensed-Bold.woff2');
}

@font-face {
    font-family: National-Regular;
    src: url('../assets/fonts/national-regular.otf');
}

.menu{
    width: 100vw;
    height: 100%;
    color: #000;
    display: flex;
    gap: 2vw;
}

.leftSide{
    height: 100%;
    width: 20vw;
    left: 12vw;
    position: sticky;
    top: 14vh;
}

.leftSide .verticalLines{
    width: 3vw;
    height: 4vh;
    margin-bottom: 2vh;
}

.leftSide .verticalLines img{
    width: 4vw;
    height: 4vh;
}



.leftSide .heading{
    width: 100%;
    height: 7.5vh;
    background: yellow;
    text-align: left;
    line-height: 7.5vh;
    margin-bottom: 2vh;
}

.leftSide .heading span{
    font-size: 38px;
    font-weight: 700;
    font-family: National-Condensed;
    text-transform: uppercase;
}

.lists{
    position: sticky;
}

.leftSide .lists .list{
    width: 100%;
    height: 6vh;
    line-height: 6vh;
    font-family: National-Regular;
    font-size: 16px;
    font-weight: 100;
    color: #494949;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-transform: uppercase;
    
}

.leftSide .lists .list:focus{
    color: #000 ;
}

.rightSide{
    margin-top: 10vh;
    width: 55vw;
    height: 100%;
    margin-left: 12vw;
    z-index: 1111111;
}


.rightSide .searchBar{
    width: 15vw;
    height: 5vh;
    background: crimson;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-radius: 20px;
    border: 1px solid #292929;
}

.rightSide .searchBar:active{
    border: 2px solid #E8A31F;
}

.rightSide .searchBar img{
    width: 3vw;
    height: 3vh;
    line-height: 5vh;
}

.rightSide .searchBar input{
    width: 8vw;
    height: 3vh;
    border: none;
    background: transparent;
    outline: none;
    color: #202124;
    font-size: 12px;
    font-weight: 400;
}

.rightSide .searchBar input::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 3vh;
}

.sections{
    margin-top: -20vh;
    height: 100%;

}

.section{
    height: 100%;
}
