*{
    scrollbar-width:none;
    
}

@media only screen and (max-width: 600px){
    #app{
        display: none;
        
    }
    #smallScreen{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 7px;
        font-family: tahoma;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    #app{
        display: none;
    }
    #smallScreen{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 7px;
        font-family: tahoma;
        text-align: center;
    }
}



@media only screen and (min-width: 768px) {
    #app{
        display: none;
    }
    #smallScreen{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 7px;
        font-family: tahoma;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    #app{
        display: flex;
    }
    #smallScreen{
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .app{
        display: flex;
    }
    #smallScreen{
        display: none;
    }
}